.container {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.card {
  height: 100px;
  width: 100px;

  text-align: center;
  line-height: 100px;

  font-size: 32px;
  font-weight: bold;
}
